# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Obj mesh
!assets/**/*.obj

vc2013/Debug
vc2013/Release

# Precompiled Headers
*.gch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Mac OS X cruft
*.pbxuser
*.mode1v3
*.mode2v3
*.user
project.xcworkspace
xcuserdata/
*.xccheckout
.DS_Store

build//
